.content{
    background-color: rgba(255, 255, 255, 0.164);

    margin-bottom: 6px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sign_in_out{
    background-color: rgba(255, 255, 255, 0.164);

    padding: 6px;
    
    display: flex;
    justify-content: center;
}